@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #fff;
}
.body {
  background-color: #111;
  color: #fff;
}

/* Hide the scrollbar but allow scrolling */
#tasklist::-webkit-scrollbar {
  display: none;
}

#tasklist {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
